<mat-sidenav-container class="sidenav-container">
  <!-- set fixedInViewport="false"(default fixedInViewport="true") mean do not allocate free space-->
  <!-- new => [ngClass] -->
  <!-- [ngClass]="{hidden: !(isHandset | async)!.matches}" -->
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Main view</a>
      <a mat-list-item [routerLink]="['/employees']" routerLinkActive="router-link-active" >Employee</a>
      <a mat-list-item [routerLink]="['/datatable']" routerLinkActive="router-link-active" >Data Table</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <!-- chenge name to make material icons eg group_work(_ for space) -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Material Dashboard</span>
      <span class="spacer"></span>
      <a href="#">Logout</a>
      <a href="#">Settings</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
